<a href="https://colab.research.google.com/github/Jasnain24/Project/blob/main/Data_Analysis_and_Manipulation_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing pandas library**

In [30]:
import pandas as pd
from datetime import datetime

**Uploading the csv file**

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
file_path = '/content/drive/MyDrive/project/employees.csv'
df = pd.read_csv(file_path)
print(df.head())

               Name Department Joining Date  Salary
0   Douglas Lindsey  Marketing    5-18-2014   63596
1  Anthony Roberson         IT   04-12-2013  112540
2     Thomas Miller         IT    7-28-2014   66292
3      Joshua Lewis  Marketing   04-03-2013   38303
4  Stephanie Bailey         IT   11-20-2014  101133

**Convert Joining date to date time format**

In [32]:
def process_employee_data(file_path: str) -> pd.DataFrame: df['Joining Date'] = pd.to_datetime(df['Joining Date'], format='%m-%d-%Y')

**To calculate salary by department**

**Total salary paid per department**

In [33]:
def process_employee_data(file_path: str) -> pd.DataFrame: total_salary_per_dept = df.groupby('Department')['Salary'].sum()
print("\nTotal Salary Paid Per Department:")
print(total_salary_per_dept)

Total Salary Paid Per Department:
Department
Finance      3292103
HR           2349502
IT           3050446
Marketing    3165202
Sales        3466596
Name: Salary, dtype: int64

**Employee's Tenure from Highest to lowest**

In [34]:
def process_employee_data(file_path: str) -> pd.DataFrame: current_date = datetime.now()
df['Tenure (Years)'] = (current_date - df['Joining Date']).dt.days / 365

In [35]:
def process_employee_data(file_path: str) -> pd.DataFrame: sorted_by_tenure = df.sort_values(by='Tenure (Years)', ascending=False)

In [36]:
def process_employee_data(file_path: str) -> pd.DataFrame: print("\nEmployees sorted by tenure from highest to lowest:")
print(sorted_by_tenure[['Name', 'Department', 'Tenure (Years)']])

                Name Department  Tenure (Years)
172    Joshua Fowler  Marketing       15.657534
11     Joshua Nelson      Sales       14.632877
103    Ronald Flores      Sales       14.413699
160       Ryan Avila      Sales       14.232877
33   Steven Anderson  Marketing       13.123288
..               ...        ...             ...
84       Mark Wilson      Sales        9.742466
46       Jamie Wells      Sales        9.698630
63    Janet Campbell    Finance        9.668493
126    Alicia Butler    Finance        9.663014
149     Brett Butler    Finance        9.660274

[200 rows x 3 columns]

**Employees who have been with the company for more than 2 years**

In [37]:
def process_employee_data(file_path: str) -> pd.DataFrame: employees_over_2_years = df[df['Tenure (Years)'] > 2]

In [38]:
def process_employee_data(file_path: str) -> pd.DataFrame: print("\nEmployees with more than 2 years in the company:")
print(employees_over_2_years[['Name', 'Department', 'Tenure (Years)']])

                  Name Department  Tenure (Years)
0      Douglas Lindsey  Marketing       10.339726
1     Anthony Roberson         IT       11.438356
2        Thomas Miller         IT       10.145205
3         Joshua Lewis  Marketing       11.463014
4     Stephanie Bailey         IT        9.830137
..                 ...        ...             ...
195   Stephanie Fisher         HR       10.975342
196      Jeremy Miller         IT       11.238356
197      Daniel Pierce    Finance       10.273973
198  Michael Hernandez  Marketing       13.024658
199   Victor Gutierrez         IT       11.556164

[200 rows x 3 columns]

**Top 3 highest-paid employees in the company**

In [39]:
def process_employee_data(file_path: str) -> pd.DataFrame: top_3_employees = df.nlargest(3, 'Salary')
print("\nTop 3 highest-paid employees:")
print(top_3_employees[['Name', 'Department', 'Salary']])

Top 3 highest-paid employees:
               Name Department  Salary
27    Susan Johnson    Finance  119895
166  Anthony Barton  Marketing  119567
78      Daniel Mata         IT  119208

**Adding new column called Annual Salary, which multiplies the Salary column by 6**

In [40]:
def process_employee_data(file_path: str) -> pd.DataFrame: df['Annual Salary'] = df['Salary'] * 6
print("\nDataFrame with new Annual Salary column:")
print(df[['Name','Department','Salary','Joining Date', 'Annual Salary']])

DataFrame with new Annual Salary column:
                  Name Department  Salary Joining Date  Annual Salary
0      Douglas Lindsey  Marketing   63596   2014-05-18         381576
1     Anthony Roberson         IT  112540   2013-04-12         675240
2        Thomas Miller         IT   66292   2014-07-28         397752
3         Joshua Lewis  Marketing   38303   2013-04-03         229818
4     Stephanie Bailey         IT  101133   2014-11-20         606798
..                 ...        ...     ...          ...            ...
195   Stephanie Fisher         HR   50051   2013-09-28         300306
196      Jeremy Miller         IT   46612   2013-06-24         279672
197      Daniel Pierce    Finance   32992   2014-06-11         197952
198  Michael Hernandez  Marketing  104216   2011-09-11         625296
199   Victor Gutierrez         IT  104341   2013-02-28         626046

[200 rows x 5 columns]

**Grouping employees by their department**

**Calculating the average salary per department**

In [41]:
def process_employee_data(file_path: str) -> pd.DataFrame: avg_salary_per_dept = df.groupby('Department')['Salary'].mean()
print("\nAverage Salary Per Department:")
print(avg_salary_per_dept)

Average Salary Per Department:
Department
Finance      80295.195122
HR           73421.937500
IT           80274.894737
Marketing    75361.952381
Sales        73757.361702
Name: Salary, dtype: float64